<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ptm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rtiviewer.icns</string>
			<key>CFBundleTypeName</key>
			<string>Polynomial Texture Map</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PTM  </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hsh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rtiviewer.icns</string>
			<key>CFBundleTypeName</key>
			<string>Hemispherical Harmonics</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>HSH  </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rti</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rtiviewer.icns</string>
			<key>CFBundleTypeName</key>
			<string>RTI Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RTI  </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mview</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rtiviewer.icns</string>
			<key>CFBundleTypeName</key>
			<string>Multi View RTI</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MVIEW  </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>rtiviewer.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by Qt/QMake</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>RTIViewer</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.RTIViewer</string>
	<key>NOTE</key>
	<string>This file was generated by Qt/QMake.</string>
</dict>
</plist>
